.product{
    // border: 1px solid red;
     padding:2.0rem 2.4rem 4.4rem 2.4rem;
    .company-name{
       text-transform: uppercase;
       font-weight: 700;
       font-size:1.2rem;
       letter-spacing: 0.17rem;
       color:$Orange;



    }
    .title{
        font-weight: 700;
       font-size:2.8rem;
       margin-top: 1.3rem;
       line-height: 117.5%;
       color: $Very-dark-blue;

    }
    .description{

        font-size: 1.52rem;
        margin-top: 1.6rem;
        line-height: 165%;
        letter-spacing: 0.03rem;
        color: $Dark-grayish-blue;

    }
    .price-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2.65rem;

        .group{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            

            .price{
                font-weight: 700;
                font-size:2.85rem;
                color: $Very-dark-blue;
                margin-right: 2rem;
            }
            .discount{
                font-weight: 700;
                font-size: 1.6rem;
                color:$Orange;
                background-color:$Pale-orange;
                padding: 0.5rem 0.9rem;
                border-radius: 0.5rem;
            }
        }
        .oldprice{
        font-weight: 700;
        font-size: 1.6rem;
        text-decoration: line-through;
        color: $Grayish-blue;

        }
    }
    .count-btn-group{
        .counter-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: $Light-grayish-blue;
            height: 5.1rem;
            border-radius: 1rem;
            margin-top: 2.7rem;
        
            #btnMinus{
                margin-left:2.3rem;
             }
            .counter{
                font-size: 1.6rem;
                font-weight: 700;
                color: $Very-dark-blue;
             }
            #btnPlus{
                margin-right:2.3rem;

            }
            #btnMinus, #btnPlus{
                cursor: pointer;
            // padding:1rem;
                &:hover{
                 opacity: 0.5;
                 background-color: $Pale-orange;
            }
        }
    }
    
    .btnWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $Orange;
        margin-top:2rem;
        height:5.4rem;
        border-radius:1rem;
        gap:1.5rem;
        color: $White;
        font-weight: 700;
        font-size:1.55rem;
        cursor: pointer;

        .cart{
            height: 1.5rem;
            filter: brightness(300%);
        }
        box-shadow: 0px 20px 30px 0px $Pale-orange;
    }


    }
}